
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

.todo-div {
  margin: auto;

  /* background-color: aqua; */
  width: 60%;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
}

.todo-heading {
  font-size: larger;
  font-weight: bold;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  width: 500px;

  /* background-color: yellow; */
  border-bottom: 1px solid black;
  align-items: center;
  margin-bottom: 5px;
}

.add-item {
  width: 500px;
  list-style: none;

  /* background-color: yellow; */
  border-bottom: 1px solid black;
  align-items: center;
  margin-bottom: 5px;
}

.todo-checkbox {
  width: 25px;
  height: 25px;
}

.todo-input {
  border: none;
  font-size: large;
  width: 50%;
}

.clear-div {
  display: flex;
  background-color: aliceblue;

  /* width: 60%; */
  align-self: center;
}

.clear-button {
  width: 300px;
  padding: 10px;
  font-size: large;
}

.hidden {
  display: none;
}

.button {
  border: none;
  padding: 0;
  background-color: transparent;
}

.button:hover {
  color: red;
}

.add-button {
  border: none;
  padding: 0;
  background-color: transparent;
}

.add-button:hover {
  color: green;
}
